@media screen and (max-width: 1256px) {
  .sidebar {
    width: 80%;
    max-width: 400px;
    position: absolute;
  }
  .modalbg,
  .navLogo {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .day-nav > span {
    font-size: var(--font-desktop);
    font-weight: normal;
  }
  .block {
    box-sizing: border-box;
    font-size: var(--font-tablet);
    font-weight: normal;
  }
  .monthly-event {
    height: 20px;
    border-radius: 5px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .day-nav > span {
    font-size: var(--font-desktop);
    font-size: 15px;
    font-weight: 500;
  }
  .block {
    /* box-sizing: border-box;
    border: 0.5px rgb(240, 235, 235) solid;
    outline: thin rgb(240, 235, 235) solid; */
    font-size: var(--font-desktop);
    font-weight: normal;
    /* border: 0.5px rgb(240, 235, 235) solid; */
  }
  .monthly-event {
    height: 21px;
    width: 90%;
    border-radius: 5px;
    font-weight: normal;
    align-items: flex-start;
  }
  .day-number {
    margin: 5px 0 0 5px;
    font-weight: 500;
    font-size: var(--font-desktop);
  }
  .indicator {
    font-size: 24px;
  }
  .monthly-event:hover {
    z-index: 3;
    height: 50px;
  }
}
